@import '~antd/dist/antd.css';

:root {
	--color-text-transparent: rgba(0, 0, 0, 0.65);
	--color-text-transparent-selected: black;
	--color-text-secondary: white;
	--color-background-primary: rgba(0, 0, 0, 0);
	--color-background-secondary: rgba(0, 0, 0, 0.8);
	--color-accent: #1890ff;
}

.App {
	text-align: center;
}

.Content {
	min-height: 1000px;
}

.Site-Header {
	transition-duration: 0.5s;
	z-index: 100;
}

html[data-scroll='0'] .Site-Header {
	/* Header Container */
	background: var(--color-background-primary);
}

.Site-Header-Menu {
	background: rgba(255, 255, 255, 0) !important; /* Header Menu Transparency */
	text-align: center;
}

html[data-scroll='0'] .Header-Menu-Item:not(.ant-menu-item-selected) {
	color: var(--color-text-transparent) !important;
}

html[data-scroll='0'] .Header-Menu-Item.ant-menu-item-selected {
	color: var(--color-text-transparent-selected) !important;
}

html[data-scroll='0']
	.Header-Menu-Item.ant-menu-submenu-active:not(.ant-menu-submenu-selected)
	.ant-menu-submenu-title {
	color: var(--color-text-transparent-selected) !important;
	/* color: var(--color-accent) !important; */
}

html[data-scroll='0'] .Header-Menu-Item.ant-menu-submenu-selected .ant-menu-submenu-title {
	/* color: var(--color-text-transparent-selected) !important; */
	color: var(--color-accent) !important;
}

.Header-Menu-Item.ant-menu-submenu-selected {
  /* background-color: var(--color-accent) !important; */
  color: var(--color-accent) !important;
}


.page-banner-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.page-banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.Page-Container {
	padding-top: 64px;
}