/* @import '~antd/dist/antd.css'; */
/* @import '~antd/dist/antd.dark.css'; */
/* @import '../../public/light-theme.css'; */
@import 'light-theme.css';

:root {
  --color-text-transparent: rgba(0, 0, 0, 0.65);
  --color-text-transparent-selected: black;
  --color-text-secondary: white;
  --color-background-primary: rgba(0, 0, 0, 0);
  --color-background-secondary: rgba(0, 0, 0, 0.8);
  --color-accent: #1890ff;
  overflow-y: scroll;
}

.App {
  text-align: center;
  /* min-height: 100%; */
}

.Site-Header {
  transition-duration: 0.2s;
  z-index: 100;
}

.Site-Header.active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.Site-Layout {
  min-height: 100vh;
  transition: all 0.05s linear;
}

.Site-Header-Menu {
  background: rgba(255, 255, 255, 0) !important;
  text-align: center;
}

/* html[data-scroll='0'] .Site-Header {
  background: var(--color-background-primary);
}

html[data-scroll='0'] .Header-Menu-Item:not(.ant-menu-item-selected) {
  color: var(--color-text-transparent) !important;
}

html[data-scroll='0'] .Header-Menu-Item.ant-menu-item-selected {
  color: var(--color-text-transparent-selected) !important;
}

html[data-scroll='0']
  .Header-Menu-Item.ant-menu-submenu-active:not(.ant-menu-submenu-selected)
  .ant-menu-submenu-title {
  color: var(--color-text-transparent-selected) !important;
}

html[data-scroll='0'] .Header-Menu-Item.ant-menu-submenu-selected .ant-menu-submenu-title {
  color: var(--color-accent) !important;
}

html[data-scroll='0'] .Header-Menu-Item.ant-menu-item-selected {
  color: var(--color-accent) !important;
  background-color: rgba(255, 255, 255, 0) !important;
} */

.Header-Menu-Item.ant-menu-submenu-selected {
  /* background-color: var(--color-accent) !important; */
  color: var(--color-accent) !important;
}

.ant-divider-horizontal {
  margin: 0px !important;
}

.ant-list-item-meta {
  /* for search page to 'align' 'action' items to bottom of list.item */
  height: 82%;
}

.page-banner-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.page-banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.Content {
  margin-bottom: 24px;
}

.Page-Container {
  /* padding-top: 64px; */
}

.Footer-Container {
  height: 100px !important;
  position: relative;
  /* position: absolute; */
}
.Footer-Component {
  margin: 0;
  width: 100%;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  vertical-align: middle;
}

.Page-Heading {
  padding-top: 64px;
}

.Back-Up {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 14;
}

.Header-Menu-Item > .anticon {
  /* color: red !important; */
}

html[data-scroll='0'] .Header-Menu-Item.ant-menu-item-selected .Header-SearchIcon {
  color: var(--color-accent) !important;
  transition: all 0.05s linear;
}

html[data-scroll='0'] .Site-Header-Menu {
  /* attempt to make menu shink on scroll */
  /* line-height: 330% !important; */
}
